.columns > div {
  display: flex;
  flex-direction: column;
  
}

.columns > div > div {
  order: 1;
  padding-right: 32px;
}

.columns.highlight > div {
  background-color: var(--light-color);
}

.columns img {
  width: 100%;
}

.columns > div > .columns-img-col {
  order: 0;
  flex-direction: column;
  flex: 2;  
}

.columns > div > .columns-img-col img {
  display: block;
}

.adventure h3::after {
  border-bottom: 2px solid var(--link-color);
  content: "";
  display: block;
  padding-top: 8px;
  width: 100px;
}

.adventure .columns.block .columns-img-col{
  width: 100%;
}

.adventure .columns.block .columns-img-col + div {
  width: 80%;
  margin: auto;
  top: -200px;
  position: relative;
  background-color: white;
  padding-left: 32px;
  padding-right: 32px;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .adventure .columns.block > div {
    flex-direction: column;
  }
}
