footer {
  padding: 2rem;
  background-color: var(--background-dark-color);
  font-size: var(--body-font-size-xxs);
  color: var(--text-light-color);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .footer a:any-link {
  color: var(--text-light-color);
  text-decoration:underline;
}